{% extends "layout.html" %}
{% load static %}

{% block content %}

<div class="min-h-screen bg-gray-900 py-10 px-4">
    <div style="display: flex;">
        <img src="">
        <div>
            <div style="font-size: 30px; color: white;">Назва: {{ product.name }}</div>
            <div style="font-size: 30px; color: white;">Опис: {{ product.description }}</div>
            <div style="font-size: 30px; color: white;">Ціна: {{ product.price }}</div>
            <div style="font-size: 30px; color: white;">Створено: {{ product.created_at }}</div>
            <div style="font-size: 30px; color: white;">Оновлено: {{ product.updated_at }}</div>
        </div>
    </div>
</div>

{% endblock %}